p {
	font-family: monospace;
	background-color: white;
	padding: 10px;
}
h1 {
	@font-face {
	font-family: "MaraDurica"
	src: url(MaraDurica_novo.ttf) format('truetype');
	}
	background-color: white;
	padding: 10px;
}
h2 {
	font-family: monospace;
}
h3 {
	font-family: monospace;
}
nav {
	font-family: monospace;
	background-color: white;
	padding: 5px;
}
nav li {
	display: inline-block;
}
