p {
	font-family: monospace;
	background-color: white;
	padding: 10px;
}
@font-face {
	font-family:'MaraDurica';
	src: url(MaraDurica_novo.ttf) format ('truetype');
}

h1 {
	font-family: "MaraDurica"
	background-color: white;
	padding: 10px;
}
h2 {
	font-family: monospace;
}
h3 {
	font-family: monospace;
}
nav {
	font-family: monospace;
	background-color: white;
	padding: 5px;
}
nav li {
	display: inline-block;
}
